

<div class="contact-us-container" style="margin-top: 100px;">
    <div class="p-3 mb-2 bg-black text-white">
        <div class="mission-heading d-flex">
            <div>
                <h1 class="display-6 fw-semibold" style="margin-top: 50px; margin-left: 40px;">RideNow</h1>
            </div>
            <div>
                <p style="font-style: italic; text-align:justify; margin-top: 50px; margin-left: 70px; margin-right:50px;">
                    "At RideNow, our mission is to make car rentals simple, accessible, and stress-free for everyone.
                    We are committed to providing well-maintained vehicles, transparent pricing, and reliable customer service — so whether you're traveling for work, leisure, or everyday needs, you can count on us to get you there safely, comfortably, and on time."
                </p>
            </div>
        </div>
        
        <div class="footer" style="margin-top:70px; margin-left: 40px;" >
            <p class="fs-4 fw-medium">Contact Us</p>
            <div class="contacts" style="display:flex;">
                <p><strong>Whatsapp No: </strong>+92 301 2223187</p>
                <p style="margin-left:50px;"><strong>Email Address: </strong>ridenow@gmail.com</p>

            </div>

        </div>
    </div>
        
    </div>
</div>